<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Books</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <h1>Books</h1>
        <a href="/users/<%= user._id %>/books/new" class="add-book-link">Add a Book</a>

        <ul>
            <% books.forEach((book)=> { %>
                <li>
                    <a href="/users/<%= user._id %>/books/<%= book._id %>">
                        <%= book.title %> by <%= book.author %>
                    </a>
                </li>
                <% }) %>
        </ul>

</body>

</html>